* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
}

.articles__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  height: 150vh;
  width: 100%;
  margin: 0 5rem 5rem;
}

.articles__title {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 1/6/2/8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #174d56;
  padding: 10px;
  color: #174d56;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

.articles__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: -50%;
  width: 200%;
  height: 3px;
  border-radius: 3px;
  background-color: #afafaf;
}

.articles__title .title-icon__img {
  height: 1.5rem;
}

.article {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
  color: #fff;
}

.article--date {
  position: relative;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.article__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.article__media {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.article__media--year {
  margin-right: 1rem;
}

.article__media--year::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.15rem);
  width: 0.3rem;
  height: 0.3rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.article__media--aside {
  color: #060606;
}

.article__aside {
  -ms-grid-row: 7;
  -ms-grid-row-span: 6;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 7/10/13/13;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article__aside--title {
  width: 60%;
  color: #060606;
  font-size: 1rem;
}

.article__aside__img {
  width: 30%;
}

.category {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 225, 0.45)));
  background: linear-gradient(rgba(225, 225, 225, 0.45));
  text-align: center;
}

.category::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.35rem);
  left: 5%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}

.category--places::before {
  background-color: #4867d1;
}

.category--nature::before {
  background-color: #48d167;
}

.category--culture::before {
  background-color: #cfd148;
}

.category--new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 1rem;
  background: #fe4a51;
  font-size: 0.5rem;
  color: #fff;
  text-transform: uppercase;
}

.category--new::before {
  top: calc(50% - 0.2rem);
  left: 10%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #fff;
}

.article--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/7/5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image1.svg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image1.svg") no-repeat center/cover;
}

.article--2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 2/5/7/9;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image2.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image2.jpg") no-repeat center/cover;
}

.article--3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 2/9/7/13;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image3.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image3.jpg") no-repeat center/cover;
}

.article--4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 7/1/10/6;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image4.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image4.jpg") no-repeat center/cover;
}

.article--5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: 7/6/10/10;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image5.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image5.jpg") no-repeat center/cover;
}

.article--6 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 10/1/13/5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image6.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image6.jpg") no-repeat center/cover;
}

.article--7 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: 10/5/13/10;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65))), url("img/photos/image7.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(22, 22, 22, 0.65)), url("img/photos/image7.jpg") no-repeat center/cover;
}
/*# sourceMappingURL=style.css.map */